 /* CSS cho biểu mẫu */
 .con {
    width: 300px;
    margin: 50px 100px auto;
    padding: 10px;
    
} 

.form-group {
    margin-bottom: 15px;
    margin-left: -70px;
}

label {
    display: block;
    font-weight: bold;
    color:rgb(0, 0, 0);
    font-size: 20px;
    
}

input[type="text"], select {
    width: 250%;
    height: 40px;
    padding: 5px;
    border: 2px solid #000000;
    font-family: "Ubuntu", sans-serif;
}

button {
    padding: 15px 25px;
    background-color: #ee2737;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ee2737;
}
h1{
    margin-left: 0px;

    font-family: "Ubuntu", sans-serif;;
}

input{
    color:#000000;
    background: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 0px;
    
    
}
.form-group1{
    margin-left: 0px ;
   
}
.form-group2{
  margin-left: -70px;
}

input[type="submit"]{
    color:#ffffff;
    background: #ee2737;
    border: #ee2737;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    margin-top: 10px;
}
input[type="button"]{
color:#ffffff;
background: #ee2737;
border: #ee2737;
font-size: 15px;
font-family: "Ubuntu", sans-serif;
}
.thaotac{
    color:#ffffff;
    background: #ee2737;
    border: #ee2737;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    }
    /* .bx {
      width: 35px;
      color:#ee2737;
      font-size: 25px;
    } */
    
    .btn1 i{
      /* background: #ee2737; */
        color:#ee2737;
        padding: 6px 10px;
        font-size: 20px;
        width: 35px;
    }
    .btn1 i:hover{
      cursor: pointer;
      /* background: #ee2737; */
        color: rgb(0, 0, 0);
    }
    
    
    
    input[type="checkbox"]{
      width: 20px;
    }
    
    
    /* Định dạng phần container */
    .file-input-container {
      position: relative;
      width: 180px;
      margin-top: 5pxpx;
    }
    
    /* Ẩn phần input gốc */
    .file-input-container input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
    
    /* Thiết lập giao diện cho phần được tùy chỉnh */
    .custom-file-input {
      display: inline-block;
      padding: 10px 15px;
      font-size: 16px;
      font-family: Arial, sans-serif;
      cursor: pointer;
      background-color: red;
      color: #fff;
      border: none;
      border-radius: 5px;
    }
    
    /* Định dạng khi di chuột qua phần được tùy chỉnh */
    .custom-file-input:hover {
      background-color: rgb(22, 82, 122);
    }


/* css cho thêm sản phẩm */
.con1 {
    width: 300px;
    margin: 50px 30px ;
    padding: 10px;
    
} 



/* css cho danh mục */

/* css list danh muc */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.table-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}
.back a i {
  margin-top: 20px;
  margin-left: 10px;
  color: red;
}
/* end */



 /* css sản phẩm */
textarea {
  width: 400px; /* Set the width */
  height: 150px; /* Set the height */
  padding: 10px; /* Add padding */
  box-sizing: border-box; /* Include padding and border in the total width and height */
  font-family: Arial, sans-serif; /* Set the font family */
  font-size: 14px; /* Set the font size */
  border: 2px solid #000000; /* Add a border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  resize: none; /* Disable textarea resizing */
}

/* Style for a focused textarea */
textarea:focus {
  border-color: #ee2737; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow */
}

.sanpham h1{
  margin-left: 0px;
}
.adddm
{
  margin-left: -70px;
}
/* end */